<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<div class="container my-5">
    <h2>Register User</h2>
    <div class="card">
        <div class="card-body">
            <form th:action="@{/register}" th:object="${registrationDTO}" method="post">
                <div class="form-group">
                    <label for="nom">Nom:</label>
                    <input type="text" id="nom" th:field="*{nom}" class="form-control" placeholder="Enter your last name" required>
                </div>
                <div class="form-group">
                    <label for="prenom">Prenom:</label>
                    <input type="text" id="prenom" th:field="*{prenom}" class="form-control" placeholder="Enter your first name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Enter your password" required>
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse:</label>
                    <input type="text" id="adresse" th:field="*{adresse}" class="form-control" placeholder="Enter your address" required>
                </div>
                <div class="form-group">
                    <label for="userType">User Type:</label>
                    <select id="userType" th:field="*{userType}" class="form-control">
                        <option value="CLIENT">Client</option>
                        <option value="PROPRIETAIRESALLE">Proprietaire Salle</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>
